---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import AvatarComponent from '@/components/ui/avatar'
import { SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="mb-8">
    <Breadcrumbs items={[{ label: 'About' }]} />
  </Container>
  <div class="mx-auto max-w-screen-lg px-4">
    <div
      class="grid min-h-[calc(100vh-300px)] grid-cols-1 gap-8 lg:grid-cols-3"
    >
      <aside
        class="flex flex-col items-center justify-center gap-4 rounded-xl bg-secondary/50 p-6"
      >
        <AvatarComponent
          client:load
          src="/static/face.jpg"
          alt="Philip Dobranowski"
          fallback="PD"
          className="size-40 rounded-full lg:size-48"
        />
        <h2 class="text-xl font-bold">Philip Dobranowski</h2>
        <p class="text-center text-sm text-muted-foreground">
          CS + Systems Security Enthusiast
        </p>
        <SocialIcons links={SOCIAL_LINKS} className="mt-2" />
      </aside>
      <main
        class="prose col-span-1 max-w-none rounded-xl bg-secondary/50 p-6 dark:prose-invert lg:col-span-2 lg:p-8"
      >
        <p>
          Hi! I'm Philip, but go by the name Rench online. I'm currently an
          undergraduate at Georgia Tech studying CS.
        </p>
        <p>
          I'm interested in anything from competitive rock climbing to drawing
          to computers. Right now, I spend most of my time in cybersecurity with
          a little bit of software dev here and there.
        </p>
        <p>
          My cybersecurity journey has mostly taken the form of Capture-the-Flag
          competitions (CTFs). I currently play with <Link href="https://ctftime.org/team/175828" underline class="text-primary" external>View Source</Link
          >, <Link href="https://ctftime.org/team/222911" underline class="text-primary" external
            >.;,;.</Link
          >, and <Link href="https://ctftime.org/team/169557" underline class="text-primary" external
            >Project Sekai</Link
          >, focusing on binary exploitation and reverse engineering. In the
          future, I hope to expand my horizons in the field and meet new people
          in the community.
        </p>
        <p>
          Feel free to check out my <Link href="/blog" underline class="text-primary">blog</Link>,
          where I'll be posting future writeups that I make as well as any other
          tidbits I come across and find interesting.
        </p>
      </main>
    </div>
  </div>
</Layout>
